@use "../custom" as *;

.footer-section {
  display: flex;
  display: -webkit-flex;
  margin: 0;
  padding: 5rem 10px;
  background-color: $gray-900;
  align-content: center;
  color: $white;
  font-size: 16px;
  font-family: "Poppins", "san-serif";
  flex-direction: column;

  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .footer-link {
      text-decoration: none;
      color: $white;
      text-align: center;
      margin-bottom: 12px;

      i {
        margin: 0 10px;
      }
    }

    .footer-info {
      margin-bottom: 12px;
      text-align: center;
      color: $white;

      p {
        text-align: center;
      }
    }

    .footer-social {
      display: flex;
      flex-direction: row;
      margin: 5px 0;

      .footer-icon {
        display: flex;
        align-items: center;
        background-color: $white;
        width: 2.15rem;
        height: 2.15rem;
        margin: 5px 8px;
        padding: 5px;
        border-radius: 60%;
        border: 3px solid $white;
        text-align: center;

        &:hover {
          background-color: transparent;
          transition: all 2s;
          border: 2px solid $secondary;

          a {
            color: $secondary;
            transition: all 2.1s;
          }

        }
        
        a {
          margin-left: auto;
          margin-right: auto;
          font-size: 18px;
          text-decoration: none;
          color: $gray-900;
          text-align: center;

        }
        i {
          font-weight: 500;
        }
      }
    }
  }

  .footer-credits {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;

    a {
      color: $white;
      text-decoration: none;
      font-weight: 600;
      margin: 0 2px;

      &:hover {
        color: $secondary;
        transition: all 1s ease-in-out;
      }
    }

    #dateYear {
      font-weight: 500;
      margin-right: 5px;
    }

  }
}
