@use "../custom" as *;

.hero-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: auto;

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(10%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-header {
    padding: 20px 0;
    font-family: "Poppins", "san-serif";

    .navbar {
      &-brand {
        color: $white;
        font-size: 1.75rem;
        font-weight: 500;
      }

      .nav-item {
        padding: 0 0.75rem;
        &:hover {
          color: $primary;
          transition-delay: 100ms;
          transition-timing-function: ease-in-out;
        }

        @include media-breakpoint-down(lg) {
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
        }

        .nav-link {
          color: $white;
          font-size: 1rem;

          span {
            font-size: 1rem;
          }

          &:hover {
            color: $secondary;
            transition: all 1s ease-in-out;
          }
        }
      }

      .user-option {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;

        .option-link {
          padding: 0 1rem;
          color: $white;
          font-size: 1rem;
          &:hover {
            color: $secondary;
            transition: all 1s ease-in-out;
          }

          span {
            font-size: 1rem;
          }
        }

        .nav-btn {
          width: auto;
          height: auto;
          border: none;
          padding: 0 1rem;
          margin-right: 2rem;
          background-color: transparent;
          color: $white;
          &:hover {
            color: $secondary;
            transition: all 1s ease-in-out;
          }

          span {
            display: inline-block;
            font-size: 1rem;
          }
        }

        @include media-breakpoint-down(lg) {
          margin-top: 1rem;
          margin-bottom: 0.25rem;
          margin-left: auto;
          margin-right: auto;
          justify-content: center;

          .option-link {
            padding: 0 10px;
          }
          .nav-btn {
            padding: 0 10px;
            margin-right: 0;
          }
        }
      }
    }
  }

  .hero-carousel {
    padding: 2.75rem 0;
    font-family: "Poppins", "san-serif";

    .carousel-item {
      color: $white;
      padding-bottom: 2rem;

      .display-1 {
        font-family: "Poppins", "san-serif";
        font-weight: 500;
        padding-bottom: 1.25rem;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 0.75rem;

        @include media-breakpoint-down(lg) {
          color: #fffffff0;
        }
      }

    }

    .carousel-indicator {
      padding: 5px 0;

      button {
        width: 10px;
        height: 15px;
        margin-left: 8px;
        background-color: $white;
        opacity: 60%;
        border: 1px solid transparent;
        border-radius: 60%;
      }
    }
  }
}
